<head>
  <style>
    body {
      background-color: #CDE7EA;
      font-family: Serif;
      text-align: center;
      vertical-align: middle;
      color:14494F;
    }
    input, label {
      font-family: Serif;
    }
  </style>
</head>

<center><h1>Happy Birthday <%= @user.name %>!</h1></center>