<center><h1> Wasssssup! </h1></center>

<center><h2> Please enter your name: </h2></center>

<center><form action="/form" method="post">
     <input type='text' name=name>
     <input type='submit' value='Submit'>
</form></center>