<center><h1> Wasssssup! </h1></center>

<center><h2> Please enter the following details: </h2></center>

<center><form action="/form" method="post">
  <input type='text' name=name placeholder="Enter Name">
  <input type='day' name=day placeholder="Day of Birth">
  <select name=month>
    <option value="January">January</option>
    <option value="February">February</option>
    <option value="March">March</option>
    <option value="April">April</option>
    <option value="May">May</option>
    <option value="June">June</option>
    <option value="July">July</option>
    <option value="August">August</option>
    <option value="September">September</option>
    <option value="October">October</option>
    <option value="November">November</option>
    <option value="December">December</option>
  </select>

  <input type='submit' value='Submit'>
</form></center>